{% extends 'third/layout.html.twig' %}

{% block body %}
    <div class="alert alert-info">
        Liste des personnes
    </div>
    <a href="{{ path('add_person', {id:0}) }}">
        <button class="btn btn-primary">Add Person</button>
    </a>
    <ol class="list-group">
      {% for person in persons %}
        <li class="list-group-item">
            {{ person.name }} // {{ person.age }}
            <a href="{{ path('add_person', {'id': person.id}) }}">
                <button class="btn btn-primary">Edit</button>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('delete_person', {'id': person.id}) }}">
                <button class="btn btn-danger">Delete</button>
            </a>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block title %}

{% endblock %}

